---
name: CI
defaults:
  run:
    shell: bash
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    uses: kare/github/.github/workflows/go-pkg-ci.yaml@main
